@use '../modules/variables';
@use '../modules/mixins';

body {
   background-color: variables.$light-blue;
   background-image: url("../assets/images/bgi.jpg");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   box-shadow: 0 0 210px black inset;
   color: white;
   font-size: 1.6rem;
   font-family: "Fira Code", 'Courier New', Courier, monospace;
   font-weight: normal;
   min-height: 100vh;
}
.lines-pattern {
   background-color: #00000000;
   background-image: url("../assets/images/Square-pattern-blue.png"), 
                     url("../assets/images/Square-pattern-blue.png");
   background-position: 0px 27px, 
                        0px calc(100% - 27px);
   background-size: 25px 16.6px,
                    25px 16.6px;
   background-repeat: repeat-x, 
                      repeat-x;
   min-height: 100vh;

   @include mixins.desktop-view {
      background-image: url("../assets/images/Square-pattern-blue.png"), 
                        url("../assets/images/Square-pattern-blue--90deg.png"), 
                        url("../assets/images/Square-pattern-blue--90deg.png"),
                        url("../assets/images/Square-pattern-blue.png");
      background-position: 0px 27px, 
                           48px 0px,
                           calc(100% - 48px) 0px,
                           0px calc(100% - 27px);
      background-size: 25px 16.6px, 
                       16.6px 25px, 
                       16.6px 25px, 
                       25px 16.6px;
      background-repeat: repeat-x, 
                         repeat-y,
                         repeat-y, 
                         repeat-x;
   }
}
.wrapper {
   padding: 80px 20px;

   @include mixins.tablet-view {
      width: 768px;
      padding: 80px 0;
      margin: 0 auto;
   }

   @include mixins.desktop-view {
      width: 1024px;
   }
}
.button-frame {
   clip-path: polygon(0px 10px, 10px 10px, 10px 0px, calc(100% - 10px) 0px, calc(100% - 10px) 10px, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 10px calc(100% - 10px), 0px calc(100% - 10px));
}
.button-frame-content {
   text-transform: capitalize;;
   text-align: center;
   background-color: variables.$black;
   padding: 8px;
   clip-path: polygon(0px 10px, 10px 10px, 10px 0px, calc(100% - 10px) 0px, calc(100% - 10px) 10px, 100% 10px, 100% calc(100% - 10px), calc(100% - 10px) calc(100% - 10px), calc(100% - 10px) 100%, 10px 100%, 10px calc(100% - 10px), 0px calc(100% - 10px));
}
.frame--black {
   background-color: black;
   padding: 3px;
}
.frame--white {
   background-color: white;
   padding: 3px;
}
.box-frame-container {
   position: relative;
}
.box-frame-container__square {
   background-color: #00000000;
   width: 22px;
   height: 22px;
   border: 3px solid white;
   display: block;
   position: absolute;
   z-index: 100;
   box-shadow: 3px 3px 0px black, -3px 3px 0px black, 3px -3px 0px black, -3px -3px 0px black, -3px -3px 0px black inset, 3px 3px 0px black inset;
}
.box-frame-container__square--top-left {
   top: 3px;
   left: 3px;
}
.box-frame-container__square--top-right {
   top: 3px;
   right: 3px;
}
.box-frame-container__square--bottom-left {
   bottom: 3px;
   left: 3px;
}
.box-frame-container__square--bottom-right {
   bottom: 3px;
   right: 3px;
}
.box-frame {
   clip-path: polygon( 35px 0px, calc(100% - 35px) 0px, calc(100% - 35px) 10px, calc(100% - 10px) 10px, calc(100% - 10px) 35px, 100% 35px, 100% calc(100% - 35px), calc(100% - 10px) calc(100% - 35px), calc(100% - 10px) calc(100% - 10px), calc(100% - 35px) calc(100% - 10px), calc(100% - 35px) 100%, 35px 100%, 35px calc(100% - 10px), 10px calc(100% - 10px), 10px calc(100% - 35px), 0% calc(100% - 35px), 0% 35px, 10px 35px, 10px 10px, 35px 10px);
   padding: 3px;
}
.box-frame__content {
   background-color: variables.$black;
   padding: 24px;
}
.box-frame--black { 
   background-color: black;
}
.box-frame--white { 
   background-color: white;
}
.hidden {
   visibility: hidden;
   height: 0;
   overflow: hidden;
   padding: 0;
}
.hidden-below {
   opacity: 0;
   transform: translateY(50px);
}