@use '../modules/variables';
@use '../modules/mixins';

.locations-list {
   @include mixins.tablet-view {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      row-gap: 48px;
      justify-items: center;
   }

   @include mixins.desktop-view {
      grid-template-columns: repeat(8, 1fr);
   }
}
.location-item {
   color: white;
   text-decoration: none;
   width: 222px;
   display: block;
   margin: 0 auto 48px;

   &:hover &__img-container {
      border-color: variables.$yellow;
   }
   &:hover &__img {
      background-size: 175%;
      border-color: variables.$yellow;
   }
   &:hover .frame--white {
      background-color: variables.$yellow;
   }
   &__img-container {
      width: 150px;
      height: 150px;
      border: 1px solid variables.$black;
      border-radius: 50%;
      padding: 4px;
      margin: 0 auto;
   }
   &__img {
      background-color: variables.$dark-blue;
      background-image: url('../assets/images/placeholder.jpg');
      background-position: center;
      background-size: 200%;
      background-repeat: no-repeat;
      height: 100%;
      border: 1px solid variables.$black;
      border-radius: 50%;
      box-shadow: 0 0 30px black inset;
      transition: background-size 200ms ease-in-out;
   }
   &__button {
      margin-top: -27.5px;
   }

   @include mixins.tablet-view {
      margin: 0;

      &:nth-child(1) {
         grid-column: 1 / 4;
         grid-row: 1;
      }

      &:nth-child(2) {
         grid-column: 4 / 7;
         grid-row: 1;
      }

      &:nth-child(3) {
         grid-column: 1 / 7;
         grid-row: 2;
      }

      &:nth-child(4) {
         grid-column: 1 / 4;
         grid-row: 3;
      }

      &:nth-child(5) {
         grid-column: 4 / 7;
         grid-row: 3;
      }
   }

   @include mixins.desktop-view {
      &:nth-child(1) {
         grid-column: 1 / 3;
         grid-row: 1;
      }

      &:nth-child(2) {
         grid-column: 4 / 6;
         grid-row: 1;
      }

      &:nth-child(3) {
         grid-column: 7 / 9;
         grid-row: 1;
      }

      &:nth-child(4) {
         grid-column: 2 / 5;
         grid-row: 2;
      }

      &:nth-child(5) {
         grid-column: 5 / 8;
         grid-row: 2;
      }
   }
}
