@use '../modules/mixins';

.logo {
   opacity: 0;
   display: none;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;

   &__img {
      width: 273px;
      display: block;
      margin-top: -109px;
   }

   @include mixins.desktop-view {
      &__img {
         width: 477px;
         margin-top: -71px;
      }
   }
}