@font-face {
   font-family: "Fira Code";
   font-weight: normal;
   font-style: normal;
   src: local("Fira Code"),
        url("../assets/fonts/FiraCode-Medium.ttf") format('truetype');
}
@font-face {
   font-family: "Fira Code";
   font-weight: bold;
   font-style: normal;
   src: local("Fira Code"),
        url("../assets/fonts/FiraCode-Bold.ttf") format('truetype');
}