@use '../modules/variables';
@use '../modules/mixins';

.section-heading { 
   display: flex;
   justify-content: center;
   align-items: center;
   column-gap: 25px;
   
   &::before, &::after {
      content: '';
      background-color: variables.$black;
      display: block;
      width: 50px;
      height: 1px;
   }
   &__heading {
      font-family: "Fira Code", 'Courier New', Courier, monospace;
      font-size: 2.4rem;
      letter-spacing: 2px;
      text-shadow: 2px 3px 1px black;
      text-transform: capitalize;
      text-align: center;
      line-height: 31px;
   }

   @include mixins.desktop-view {
      &::before, &::after {
         width: 200px;
      }
      &__heading {
         font-size: 3.2rem;
         line-height: 42px;
      }
   }
}